#dark-mode {
  background-color: #252525;
  color: white;
}

span {
  font-weight: 300 !important;
  color:white !important;
}

hr {
  background-color: #8d8d8d;
  margin: auto;
}

img {
  object-fit: cover;
}

.news-content {
  color: white !important;
}

.container {
    max-width: 960px;
}

/*
  * Custom translucent site header
  */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999 ;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.our-mission {
  font-size: 1.5vw;
}

.slogan {
  font-size: 2.8vw;
}

.dont-hesitate {
  font-size: 1.5vw;
}

/*
  * Extra utilities
  */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

@font-face {
  font-family: 'Akira Expanded';
  src:url("/Akira Expanded Demo.woff") format('woff');
}

.akira{
  font-family: 'Akira Expanded';
}

@media screen and (max-width: 768px) {
  .our-mission {
    font-size: 3vw;
  }
  .slogan {
    font-size: 6vw;
  }
  .dont-hesitate {
    font-size: 3vw;
  }
}

@media screen and (max-width: 991px) {
  .slogan {
    padding-top: 5vw;
  }
}

.overflow-hidden { overflow: hidden; }

.navbar-logo img{
  height : 30%;
  width : 30%;
  margin-top: 5px;
}

#banner {
  max-width: 200%;
  height: 590px;
  background-image: url(https://res.cloudinary.com/dbev4mnac/image/upload/v1660650013/Head_1_website_ul6v6n.png);
  background-position: center;
  background-size: cover;
  margin-top: 0;
}

#banner-image {
  max-width: 200%;
  background-image: url(https://res.cloudinary.com/dbev4mnac/image/upload/v1660650013/Head_1_website_ul6v6n.png);
  height: 590px;
  background-position: center;
  margin-top: 0;
}

#about-us {
  background-image: url(https://res.cloudinary.com/dbev4mnac/image/upload/v1660314087/Rectangle_14_xtn3hr.png);
  height: 480px;
  background-position: center;
  object-fit: cover;
}

.headline {
  width: 80%;
  height: 300px;
  border-radius: 21px 21px 0 0;
}

/*
 * Footer
 */
 .blog-footer {
  padding: 2.5rem 2.5rem;
  color: #999;
  text-align: center;
  background-color: #333333;
  border-top: .05rem solid #333333;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
    Auther: Abdelrhman Said
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper{
    background: #fff;
    padding: 50px;
    text-align: center;
}

.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 20px;
  width: 80px;
  height: 80px;
  line-height: 76px;
  font-size: 50px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #0e76a8;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #dd2a7b;
  color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.team-headline {
  font-weight: 300;
  font-size: calc(2.5rem + 2.1vw);
}

.desc {
  font-weight: 300;
  font-size: 1.6rem;
}

#excerpt {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-darkgrey{
  background-color: #333333!important;
}

/* OUR TEAM styles */
.splitbanner_item {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.splitbanner_wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.splitbanner_content-text {
  position: relative;
  flex: 1 1 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 96px 24px 24px;
  z-index: 3;
  min-height: 300px;
}

.splitbanner_content-media {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.splitbanner_content-inside {
  width: 100%;
  max-width: 450px;
}

.splitbanner_pre-title {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-family: 'Akira Expanded';
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 18px;
  line-height: 1.5em;
  margin: 0 0 16px;
}

.title {
  text-transform: uppercase;
}

.ImgAnimation_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.ImgAnimation_content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ImgAnimation_inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.Img_image {
  position: relative;
  width: 100%;
}

.Img_image-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Img_image-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.ImgAnimation_inner:hover > img {
  transform: scale(1.1);
  transition: transform 3s ease;
}

@media (min-width: 37.5625em) {
  .splitbanner_item {
    width: 50%;
    height: 460px;
  }
  .splitbanner_wrapper {
    flex-wrap: nowrap;
  }

  .splitbanner_content-text {
    flex: 0 0 50%;
    padding: 48px;
    justify-content: center;
    align-items: center;
    min-height: 0;
  }

  .splitbanner_content-media {
    position: relative;
    flex: 0 0 50%;
    height: auto;
    width: auto;
  }
}